# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example


# =========================================================
# dbt
# =========================================================

dbt/target/
dbt/logs/
dbt/dbt_packages/

# Local dbt profile / credentials
profiles.yml
.dbt/


# =========================================================
# Jupyter
# =========================================================

.ipynb_checkpoints/


# =========================================================
# Power BI
# =========================================================

*.pbit.tmp
*.pbix.autosave


# =========================================================
# IDE / Editors
# =========================================================

.vscode/
.idea/


# =========================================================
# Operating system
# =========================================================

.DS_Store
Thumbs.db
desktop.ini


# =========================================================
# Logs / temporary files
# =========================================================

*.log
*.tmp
*.temp